{% extends 'base.html.twig' %}

{% block title %}FuPrAn{% endblock %}

{% block body %}
    <div id="stats" class="row row-cols-3 gy-4">
        <dl>
            <dt>Stations</dt>
            <dd>{{ stationCount }}</dd>
        </dl>
        <dl>
            <dt>Price Entries</dt>
            <dd>{{ priceReportsCount }}</dd>
        </dl>
    </div>
{% endblock %}
